body {
    font-family: 'Cafe24Supermagic-Bold-v1.0', sans-serif;
    padding: 0px;
    overflow-y: scroll; /* 스크롤바 항상 표시 */
}

/* 기본 레이아웃 (데스크탑, 태블릿) */
#container {
    display: flex; /* Flexbox 적용 */
    flex-direction: row; /* 좌우 배치 */
    margin-left: 100px;
    margin-right: 100px;
}

#restaurants {
    display: none; /* 처음에는 숨김 */
    list-style: none;
    padding: 5px;
    margin-top: 10px;
    max-height: 700px; /* 목록을 표시하는 데 필요한 높이 */
    overflow-y: overlay; /* 수직 오버플로우가 있을 경우 스크롤 표시 */
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}

#left-section {
    flex: 0.2;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

#right-section {
    flex: 0.8; /* 우측 섹션 너비 조정 */
    display: flex;
    flex-direction: column; /* 상단과 하단으로 분할 */
}

#right-top-section {
    display: flex;
    flex-direction: row; /* 좌우로 분할 */
    flex: 1; /* 상단과 하단을 동일한 비율로 할당 */
}


#images {
    flex: 1; /* 상단과 하단을 동일한 비율로 할당 */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개씩 */
    gap: 5px 5px; /* 행과 열 간격 동일하게 설정 */
}

#images img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* 이미지 비율 유지하며 채우기 */
    transition: transform 0.3s ease; /* 확대/축소 효과를 위한 전환 */
    cursor: pointer;
    z-index: 1; /* z-index 추가 */
}

#images img:hover {
    transform: scale(1.02); /* 이미지 확대 효과 */
    z-index: 2; /* 호버 시 z-index 증가 */
}

#category {
    margin: 10px;
    width: 100%;
    height: 30px;
}

#category-container {
    display: grid; /* 그리드 레이아웃 적용 */
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개씩 */
    gap: 5px; /* 버튼 사이의 간격 */
}

#category-container button {
    font-family: 'Cafe24Supermagic-Bold-v1.0', sans-serif;
    width: 100%; /* 너비 100%로 설정 */
    margin: 0; /* 마진 제거 */
    padding: 5px; /* 패딩 유지 */
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center; /* 텍스트 중앙 정렬 */
    transition: background 0.3s, color 0.3s;
}

#category-container button:hover {
    background-color: #f0f0f0;
}

#category-container button.active {
    background-color: #1a73e8; /* 활성 버튼 배경색 */
    color: #fff; /* 활성 버튼 글자색 */
}

#details {
    flex: 0.99; /* right-section 공간의 1/3 */
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    margin-right: 5px;
}

#map {
    display: none; /* 처음에는 숨김 */
    flex: 1.99; /* 좌우를 동일한 비율로 할당 */
    margin-bottom: 5px;
    width: 100%;
    height: 400px; /* 높이 지정 */
    border: 1px solid #e0e0e0;
}

.comment-box {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #e0e0e0;
    font-style: italic;
    height: 93px;
}

.navermaps-overlay {
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

#details-link {
    display: block; /* 블록 요소로 설정 */
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-decoration: none; /* 밑줄 제거 */
    color: #333; /* 텍스트 색상 설정 */
    cursor: pointer; /* 포인터 표시 */
    height: 250px;
}

#details-link:hover {
    background-color: #f0f0f0; /* 호버 효과 */
}

/* 모바일 레이아웃 */
@media screen and (max-width: 1024px) { /* 화면 크기가 1024px 이하일 때 적용 */
  #container {
    flex-direction: column; /* 상하 배치 */
    margin-left: 0;
    margin-right: 0;
  }
  #restaurants {
    max-height: 300px; /* 목록을 표시하는 데 필요한 높이 */
  }
  #left-section, #right-section {
    /* 모바일에서의 섹션 스타일링 (예: 너비 100%로 설정) */
    width: 100%;
  }
  #images {
    grid-template-columns: repeat(1, 1fr); /* 한 줄에 1개씩 */
  }
  #images img {
    margin-top: 5px;
    height: auto; /* 높이 자동 설정 */
  }
  #images img:hover {
    transform: scale(1.01); /* 이미지 확대 효과 */
  }
  #category-container {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* 한 줄에 모든 버튼 배치 */
  }
  #right-top-section {
    flex-direction: column-reverse; /* 상하 배치 */
  }
  #details {
    margin-right: 0px;

  }
  #details-link {
    height: auto;
  }
  #map {
    flex: none;
    width: 100%;
    border: none;
  }
  .comment-box {
    margin-bottom: 0px;
    height: auto;
  }
}

#header-container {
    text-align: center;
    margin-bottom: 20px; /* 제목 아래 적당한 여백 추가 */
}

h1 {
    line-height: 50px;
    margin: 0; /* 제목 바로 아래 여백 제거 */
}

h1:active {
    transform: scale(0.95); /* 눌림 효과를 위해 크기 축소 */
}

#collective-intelligence {
    font-size: 2.0rem;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #1a73e8;
    cursor: pointer;
}

#collective-intelligence:hover {
    color: #FF5733;
}

#restaurants li {
    padding: 10px;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer; /* 포인터 추가 */
    transition: background 0.3s; /* 호버 효과를 위한 전환 */
}

#restaurants li:hover {
    background-color: #f0f0f0; /* 호버 효과 */
}

#details h3 {
    margin: 0;
}

#details p {
    margin: 5px 0;
}

#details a {
    color: #1a73e8;
    text-decoration: none;
}

@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'Danjo-bold-Regular', sans-serif;
}

.custom-label {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
}

.company-label {
    font-family: 'Cafe24Supermagic-Bold-v1.0', sans-serif;
    color: white; /* 글자색 변경 */
    background-color: red; /* 배경색 추가 */
}

.restaurant-label {
    font-family: 'Cafe24Supermagic-Bold-v1.0', sans-serif;
    color: white; /* 글자색 변경 */
    background-color: black; /* 배경색 추가 */
}

#toggle-drag {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#visitor-info {
    text-align: right; /* 우측 정렬 */
    font-size: 0.8em; /* 글자 크기 조정 */
    margin-top: 10px; /* 상단 여백 조정 */
    display: block; /* 블록 레벨 요소로 변경 */
    position: absolute; /* 절대 위치 사용 */
    right: 0; /* 우측 정렬 */
    top: 0; /* 상단에 위치 */
}

